html {
    --generic-bg: rgb(242, 242, 242);
    --generic-border: rgb(225, 225, 225);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: max-content auto max-content;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    clear: both;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    clear: both;
}

h3 {
    font-size: 1.25rem;
    margin: 0;
    clear: both;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    clear: both;
}

section.wiki {
    margin: 0.5rem;
}

section.wiki nav.article_nav ul {
    list-style: none;
    padding-inline-start: 1rem;
}

section.wiki div.info {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

section.wiki div.warning {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

section.wiki div.danger {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

section.wiki div.info > span:first-child,
section.wiki div.warning > span:first-child,
section.wiki div.danger > span:first-child {
    margin-right: 1rem;
}

figure {
    margin: 0.5rem auto 0.5rem auto;
    background-color: var(--generic-bg);
    border: solid 1px var(--generic-border);
    padding: 0.5rem;
}

img {
    max-width: 100%;
}

a, a:visited, a:active {
    text-decoration: none;
}

div.center {
    display: inline-block;
    margin: auto;
    max-width: 100%;
}

/* Code (from gitlab) */

code {
    padding: 2px 4px;
    color: #c0341d;
    background-color: #fbe5e1;
    border-radius: 4px;
}

/* Header section */

div.header div.brand {
    height: 2rem;
    display: inline-grid;
    align-content: center;
    font-weight: bold;
    margin: 0 1.5rem 0 0.5rem;
}

div.header ul.site_links li details summary {
    background-color: inherit;
    border: none;
}

/* Footer section */

div.footer {
    margin: 0.5rem;
}

div.footer div.copy {
    font-weight: bold;
    text-align: center;
}

div.footer div.ph {
    text-align: center;
}

/* Dropdown */

details.dropdown > summary {
    background-color: var(--generic-bg);
    border-color: var(--generic-border);
}

/* tables */
table {
    width: 100%;
    border: 0;
    overflow-x: auto;
    border-spacing: 0;
}

th, td {
    border: 1px solid #e5e5e5;
    padding: 0.75rem;
}

th {
    border-bottom: solid 2px #ccc;
    background-color: #fafafa;
}

td {
    text-align: center;
}